[Unit]
Description=Run InterviewPad auto-deploy every minute

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=15s

[Install]
WantedBy=timers.target
